
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

* {
    box-sizing: border-box;
}
body{
    background-color: gray;
    background-image: linear-gradient(180deg, #e8f0f1 0%, #6357d6 100%);
    margin:0;
    font-family:'Poppins',sans-serif;
    min-height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.quiz-container{
    background-color: #fff;
    
    border-radius: 30px;
    border: 2px solid black;
    width: 600px;
    max-width: 100%;
    overflow: hidden;
    
}
.quiz-header {
    padding: 4rem;
}
ul {
    list-style-type: none;
    padding: 0;
}
button {
    background-color: lightslategray;
    display: block;
    width: 100%;
    padding:1rem;
    color: white;
    font-family: inherit;
    
    font-size:1.1rem; 
    cursor: pointer;

}
button:hover{
    background-color: lightgreen;
}
h2{
    margin: 0;
}
ul li {
    margin: 1rem 0;
    font-size: 1.1rem;
    font-weight: normal;
}
ul li label {
    cursor: pointer;
}